*{
    box-sizing:border-box;
}
body{
    padding:50px 0px 0 0px;
    margin:0;
}
.form{
    margin:auto;
    width:400px;    
    border:1px solid #ccc;
    border-radius:10px;                
    padding:15px 0 0 45px;
    box-shadow: 1px  2px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
    font-size:20px;
    font-family: 'Abel';
    line-height:23px;
}
input{
    padding:5px;
    border-style:none;
    border-bottom:1px solid black;
    width:310px;
}
.webname{
    font-family:'Acme';
    color: #0066ff;
    font-size:30px;
}            
.button{
    background-color:#0066ff;
    color:#fff;
    border:none;
    padding:9px 20px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-size:15px;
    margin:4px 2px;
    cursor:pointer;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    width:135px;
    height:40px;
    font-family: 'Abel';
}
.button:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);                
}
.err{
    color:red;
}
/*ipads*/
@media screen and (max-width: 767px){
    body{
        padding:50px 0;
    }
    .form{
        width:300px;
        border-radius:7px;                
        padding:10px 0 0 30px;
        font-size:15px;    
        line-height:19px;
    }
 .input{
        padding:3px;
        width:240px;
    }
    .webname{    	
        font-size:25px;
    }
    .button{    
        padding:5px 15px;    
        font-size:12px;
        margin:4px 2px;    
        width:100px;
        height:30px;    
    }
}
/*Mobile phones*/
@media screen and (max-width: 479px){
    body{
        padding:0;
    }
    .form{
        width:250px;
        border:none;                   
        padding:0px;
        box-shadow: none;
        font-size:20px;   
        line-height:23px;    
    }
    input{
        padding:3px;
        width:200px;
    }
    .webname{    	
        font-size:35px;
    }
    .button{    
        padding:5px 10px;    
        font-size:14px;
        margin:4px 2px;    
        width:100px;
        height:35px;    
    }
}